body {
    background-color: hsl(212, 45%, 89%);
}


.box {
    background-color: white;
    border: 1px solid white;
    border-radius: 1rem;
    text-align: center;
    margin: 12% 41.6%;
}

img {
    width: 300px;
    height: 300px;
}

h2 {
    font-weight: 800;
}

p {
    font-weight: 100;
}

.text {
    padding: 0 1rem;
    font-family: 'Pacifico', cursive;
    font-family: 'Ubuntu', sans-serif;
}

@media screen and (max-width: 600px) {
    .main {
        padding: 11.5%;
    }
    
    .img{
        max-width: 100%;
        height: auto;
    }
    img{
        width: 100px;
        height: 100px;
    }
    .box {
        margin: 12% none;
    }
}
