body {
    background-color: hsl(212, 45%, 89%);
}

div.main {
    margin-top: 10%;
}

.box {
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 16px;
    margin: 0 10%
}

img {
    width: 300px;
    height: 300px;
    border-radius: 16px;
}

.img-box {
    padding: 16px;
}

h5{
    padding: 1rem 3rem;
    font-weight: 800;
    font-family: 'Pacifico', cursive;
    font-family: 'Ubuntu', sans-serif;
}

p {
    padding: 0 3rem;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}